
a {
  color: inherit;
  cursor: pointer;
  text-decoration-line: none;

  &:visited {
    color: inherit;
  }
}

.resume {
  position: relative;
  font-size: 0.9em;
}

.picture {
  position: absolute;
  top: 120px - 35px;
  left: 240px + 30px * 2 - 120px / 2;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid #34495E;
  z-index: 2;
}

.banner {
  height: 120px;
  padding: 15px 30px;
  background-color: #42b883;
  color: white;

  &__fullname {
    font-size: 32px;
  }

  &__position {
    font-size: 20px;
  }

  &__location {
    font-size: 16px;
  }
}

.content {
  display: flex;
  width: 100%;
  height: 100%;

  &__left,
  &__right {
    padding: 20px;
  }

  &__left {
    width: 27%;
    color: rgba(255, 255, 255, 0.59);
    background-color: #34495E;

    .section-headline {
      color: white;
    }
  }

  &__right {
    background-color: white;
  }
}

.section {
  margin: 20px 0;
}

.section-link,
.section-headline {
  display: flex !important;
  color: #34495E;
  font-size: 16px;
  margin: 10px 0;

  &__icon {
    margin-right: 8px;
    font-size: 1.4em;
  }
}

.section-link {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.59) !important;

  &__icon {
    color: white;
  }
}

.section-content {
  margin-top: 5px;
  font-size: 14px;

  &__item {
    display: block;
    margin: 8px 0;
    border: 1px solid #34495e;
    padding: 10px;
    border-radius: 10px;
    background: #0c79e614;
  }

  &__header {
    font-size: 20px;
  }

  &__subheader {
    display: block;
    font-size: 14px;
    color: #aeb6be;
  }

  &__plain,
  &__text {
    display: block;
    font-size: 12px;

    &--light {
      font-size: 16px;
    }
  }

  &__plain {
    display: inline;
    font-weight: 300;
  }

  &__item-grid {
    flex: 1 1 0;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  &--plain {
    padding: 0;
  }
}

.section-content-grid {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-item {
  padding-right: 5px;
}

.squarred-grid-item {
  display: block;
  border: 1px solid white;
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.right-headline {
  font-style: normal;
  font-size: 24px
}

.circle-dot {
  height: 8px;
  width: 8px;
  background: black;
  border-radius: 50%;
}

.w-35 {
  width: 35%;
  font-size: 16px;
}
