.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Chalkboard SE", serif;
  font-weight: bold;
  font-size: 26px;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 section{
  height:100%;
  width:100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
   background-image: linear-gradient(to bottom right, #66ea6afa, #071bf3);
}


#uno.muestra, #dos.muestra, #forms.muestra, #resume.muestra{
  position:absolute;
  top:0;
  z-index:1;
  transform-origin:top center;
  animation: iconosani 1.2s forwards;
}

#resume {
  height: 100vh!important;
  overflow-y: scroll!important;
}

.display-none {
  display: none;
  visibility: hidden;
}

@keyframes iconosani {
  0% {
    transform: perspective(800px) rotateX(-90deg);
    opacity: 1;
  }
  40% {
    transform: perspective(800px) rotateX(30deg);
    opacity: 1;
  }
  70% {
    transform: perspective(800px) rotateX(-10deg);
  }
  100% {
    transform: perspective(800px) rotateX(0deg);
    opacity: 1;
  }
}

