
.carousel-container {
  background-color: black;
  display: block;
  height: 500px;
  width: 800px;
  border-radius: 10px;

  img{
    height: 500px;
    width: 800px;
  }


  .carousel-slide {

  }

  .wrapper {
    background: #11131182;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;

    .typewriter {
      color: #f7f1f1;
      padding-bottom: 10rem;
      overflow: hidden;
      margin: 0 auto;
      letter-spacing: 0.15em;
      -webkit-animation: typing 4.5s steps(40, end), blink-caret 1.5s step-end infinite;
      animation: typing 4.5s steps(40, end), blink-caret 1.5s step-end infinite;

      h3 {
        color: white;
        font-weight: bold;
        overflow: hidden;
        border-right: .15em solid white;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation:
          typing 4.5s steps(40, end),
          blink-caret 1.5s step-end infinite;
      }
    }
  }



  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
}



mat-sidenav-container.m2app-dark {
  background: black;
}

.home{
  padding: 40px;
}

.app-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

/////

.page-inner{
  height: 100%;
  width: 100%;
}
.page-wrapper {
  overflow-x: hidden;
  background: #CCCCCC;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  box-sizing: border-box;
}

.resume {
  height: 100%;
  width: 100%;
}
